<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <!-- Importando Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #7538E8;
        }

        #message {
            width: 200px;
            height: 100px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            color: #fff;
            margin: auto;
            text-align: center;
            display: none;
        }
    </style>
</head>
<body>
    {% if data.return %}
    <script>
        // Exibir um alerta se data.return não estiver vazio
        window.onload = function() {
            alert("{{ data.return }}");
        };
    </script>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="formModalLabel">Receba notificações por email</h3>
                    <button type="button" onclick="window.location.href='/';" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formAwesome" action="/cadastro" method="post">
                    <div class="modal-body">
                        <!-- Conteúdo do formulário -->
                        <div class="form-group row">
                            <label for="firstName" class="col-sm-6 col-form-label">Nome</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="firstName" name="nome" placeholder="Joao" required>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="email" class="col-sm-6 col-form-label">Email</label>
                            <div class="col-sm-6">
                                <input type="email" class="form-control" id="email" name="email" placeholder="joao.silva@email.com" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="awesomeness" class="col-sm-6 col-form-label">Selecione sua cidade</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="awesomeness" name="cidade">
                                    <option>Manaus</option>
                                    <option>Rio Branco</option>
                                    <option>São Paulo</option>
                                    <option>Curitiba</option>
                                    <option>Recife</option>
                                    <option>Santarem</option>
                                    <option>Palmas</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='/';">Fechar</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Mostrar o modal assim que a página for carregada
        $(document).ready(function() {
            $('#formModal').modal('show');
        });
    </script>
</body>
</html>
