<html>
<head>
    <meta charset="UTF-8">
</head>

<body>
    <h2 style="text-align: center; white-space: nowrap;">Tenha CUIDADO, {{nome}} !</h2>
    <div style="font-family: Arial, sans-serif; font-size: 10pt; width: 90%; margin: 20px auto;">
        <div style="margin: 30px; background-color: #ffffff; border: 1px solid black; opacity: 0.8; padding: 20px; filter: alpha(opacity=60);">
            <img src="https://uploaddeimagens.com.br/images/004/759/516/full/ALER_%281%29.png?1711114053" alt="Logo" style="display: block; width: 100%; margin: auto; margin-bottom: 5%;">
            <div>
                <h3 style="padding-top: 4%; text-align: left;">TEMOS UM AVISO PARA VOCÊ.</h3>
                <h3 style="padding-top: 4%; text-align: left;">Cuidado! As condições do ar em {{cidade}} não estão saudáveis. Considere limitar atividades ao ar livre</h3><br>
                <h3 style="padding-top: 4%; text-align: left;">STATUS: {{status}}</h3><br>
                <p style="padding-top: 4%;"><i>Este é um e-mail automático. Não responda a este e-mail.</i></p>
            </div>
        </div>
        <div style="padding-left: 40px; padding-right: 40px;">
            <p>© AlerTemp 2024</p>
        </div>
    </div>
</body>
</html>




